.profile {
  width: 500px;

  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  background-color:#f5f4fa;
}

.description {
  width: 300px;

  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;

background-color: white;
}

.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

  width: 150px;
  border-radius: 50%;

  transition: all .3s ease-in-out;
}
