.statistics {
  width: 400px;
  justify-content: center;

  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid darkgrey;
  border-radius: 5px;
}

.title {
  text-align: center;
  color: grey;
  text-transform: uppercase;
  margin-top: 30px;
}

.stat__list {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 0;
}
