.transaction__history {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

  width: 700px;
  text-align: center;
}

.transaction__history th  {
text-transform: uppercase;
color: white;
border: 1px solid lightgray ;
background-color: rgb(36, 174, 216);
padding-top: 10px;
padding-bottom: 10px;
}

.transaction__history th:not(:last-child) {
  border-right: 1px solid lightgrey;
}

.table__col {
  border-right: 1px solid lightgrey;
}

.table__col:first-child {
border-left: 1px solid lightgrey;
}

.table__col {
  padding-top: 10px;
  padding-bottom: 10px;

  color: gray;

}

.table__row:nth-child(2n) {
  background: rgba(236, 234, 234, 0.973);


}

.table__row:hover .table__col {
  background: darkgray;
  color: #e6ebe8;
}

