.label {
  display: block;
  text-align: center;
  padding-top: 10px;
  color: white;
  font-size: small;
}

.percentage {
  display: block;
  font-size: large;
  text-align: center;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
